<?xml version="1.0"?>
<configuration>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" defaultRedirect="~/ErrorPages/error.aspx">
      <error statusCode="404" redirect="~/ErrorPages/error404.aspx" />
    </customErrors>
  </system.web>
  
  <connectionStrings>
   <add name="membership" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|ASPNETDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />   
  <add name="database" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />   
  
  </connectionStrings>
</configuration>