<?xml version="1.0"?>
<configuration>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="On" defaultRedirect="~/ErrorPages/error.aspx">
      <error statusCode="404" redirect="~/ErrorPages/error404.aspx" />
    </customErrors>
  </system.web>
  
  <connectionStrings>
   <add name="membership" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|ASPNETDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />   
  <add name="database" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />    
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="digicourse512@gmail.com">
        <network defaultCredentials="false" enableSsl="true"
           host="smtp.gmail.com" port="587"
           userName="digicourse512@gmail.com"
           password="BostonUniversity" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>