<?xml version="1.0"?>
<configuration>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
   <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Pratik\Source\Repos\digicourse\App_Data\ASPNETDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />   
  </connectionStrings>
</configuration>