<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
            <allow roles="admin" />
            <deny roles="ta" />
            <deny roles="student" />
            <deny roles="professor" />
        </authorization>
    </system.web>
</configuration>
